[submodule "assets/hitokoto"]
	path = assets/hitokoto
	url = https://github.com/hitokoto-osc/sentences-bundle
[submodule "assets/arknights/ArknightsGameResource"]
	path = assets/arknights/ArknightsGameResource
	url = https://github.com/yuanyan3060/ArknightsGameResource
