nb-cli
nonebot2[fastapi]
nonebot-plugin-apscheduler
nonebot-adapter-onebot
nonebot-adapter-kaiheila
nonebot-adapter-mirai2
nonebot-adapter-qq
pydantic
beautifulsoup4
httpx
jieba
pypinyin
pillow
playwright
tencentcloud-sdk-python
sqlalchemy
nonebot-plugin-alconna
pymysql
cryptography
black
anyio
