<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.staticfile.org/lxgw-wenkai-screen-webfont/1.6.0/style.css" />
    <style>
        body {
            font-family: "LXGW WenKai Screen", sans-serif;
            margin: 0;
        }

        #main {
            width: 1280px;
            padding: 10px 20px;
            box-sizing: border-box;
        }

        #main h1 {
            border-left: solid 3px #99b7dc;
            padding: 0 0 0.08em 9px;
        }

        #main h2 {
            border-left: solid 2px #ccdbee;
            padding: 0 0 0.08em 10px;
            font-size: 1em;
        }

        .awaken-container {
            display: flex;
        }

        .awaken-container>img {
            width: 35%;
        }

        .param-container {
            margin-left: 1em;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: flex-start;
        }

        .param-container>p {
            margin-top: 0;
            margin-bottom: 0.5em;
        }

        .full-width {
            width: 100%;
        }

        .half-width {
            width: 50%;
        }

        .badge {
            display: inline-block;
            padding: .2em .4em;
            font-weight: 700;
            min-width: 5.8em;
            line-height: 1;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            vertical-align: center;
            margin-right: 2px;
            border-radius: 9em;
        }

        .badge-general {
            background-color: #454341;
        }

        .badge-life {
            background-color: #00d974;
        }

        .badge-vocal {
            background-color: #ff1501;
        }

        .badge-dance {
            background-color: #00acff;
        }

        .badge-visual {
            background-color: #ffa001;
        }

        .badge-appeal {
            background-color: #7e6ca8;
        }

        .badge-center {
            background-color: #ea5b76;
        }

        .badge-skill {
            background-color: #f19557;
        }

        .costume-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .costume {
            width: 50%;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            padding-left: 0.5em;
            padding-right: 0.5em;
        }

        .costume-info {
            display: flex;
            flex-direction: row;
        }

        .costume-info>img {
            width: 35%;
        }

        .costume-info>span {
            margin-left: 1em;
        }
    </style>
</head>
<body>
<div id="main">
    <h1>{{ card.name }}</h1>
    {%- if card.rarity == 4 -%}
    <p><img class="full-width" src="https://storage.matsurihi.me/mltd/card_bg/{{ card.resourceId }}_0.png"/></p>
    <p><img class="full-width" src="https://storage.matsurihi.me/mltd/card_bg/{{ card.resourceId }}_1.png"/></p>
    {%- endif -%}

    <p>实装时间: {{ card.addedAt }}</p>
    <p>
        抽取类别:
        {%- if card.exType == 0 -%}
        常驻
        {%- elif card.exType == 2 -%}
        PST 活动高排名奖励
        {%- elif card.exType == 3 -%}
        PST 活动积分奖励
        {%- elif card.exType == 4 -%}
        Fes 限定
        {%- elif card.exType == 5 -%}
        一周年活动奖励
        {%- elif card.exType == 6 -%}
        额外
        {%- elif card.exType == 7 -%}
        二周年活动奖励
        {%- elif card.exType == 8 -%}
        PST 活动高排名奖励（额外）
        {%- elif card.exType == 9 -%}
        PST 活动积分奖励（额外）
        {%- elif card.exType == 10 -%}
        三周年活动奖励
        {%- elif card.exType == 11 -%}
        PST 活动高排名奖励（额外）
        {%- elif card.exType == 12 -%}
        PST 活动积分奖励（额外）
        {%- elif card.exType == 13 -%}
        四周年活动奖励
        {%- elif card.exType == 14 -%}
        “额外发型”抽取活动
        {%- elif card.exType == 15 -%}
        在特别活动中售卖
        {%- elif card.exType == 16 -%}
        五周年活动奖励
        {%- endif -%}
    </p>
    <h1>觉醒前</h1>
    <div class="awaken-container">
        <img src="https://storage.matsurihi.me/mltd/card/{{ card.resourceId }}_0_a.png" />
        <div class="param-container">
            <p class="full-width">
                <span class="badge badge-general">稀有度</span>
                {%- if card.rarity == 4 -%}
                SSR
                {%- elif card.rarity == 3 -%}
                SR
                {%- elif card.rarity == 2 -%}
                R
                {%- elif card.rarity == 1 -%}
                N
                {%- endif -%}
            </p>
            <p class="half-width">
                <span class="badge badge-general">最大等级</span>
                {{ card.parameters.lvMax.beforeAwakened }}
            </p>
            <p class="half-width">
                <span class="badge badge-general">最大 Master Rank</span>
                {{ card.masterRankMax }}
            </p>
            <p class="half-width">
                <span class="badge badge-life">最大生命值</span>
                {{ card.parameters.life.beforeAwakened }}
            </p>
            <p class="half-width">
                <span class="badge badge-vocal">Vocal</span>
                {{ card.parameters.vocal.beforeAwakened.max }}
                ({{ card.parameters.vocal.beforeAwakened.max + card.parameters.vocal.masterBonus * card.masterRankMax }})
            </p>
            <p class="half-width">
                <span class="badge badge-dance">Dance</span>
                {{ card.parameters.dance.beforeAwakened.max }}
                ({{ card.parameters.dance.beforeAwakened.max + card.parameters.dance.masterBonus * card.masterRankMax }})
            </p>
            <p class="half-width">
                <span class="badge badge-visual">Visual</span>
                {{ card.parameters.visual.beforeAwakened.max }}
                ({{ card.parameters.visual.beforeAwakened.max + card.parameters.visual.masterBonus * card.masterRankMax }})
            </p>
            <p class="full-width">
                <span class="badge badge-appeal">总 Appeal</span>
                {{ card.parameters.vocal.beforeAwakened.max + card.parameters.dance.beforeAwakened.max + card.parameters.visual.beforeAwakened.max }}
                ({{ card.parameters.vocal.beforeAwakened.max + card.parameters.vocal.masterBonus * card.masterRankMax + card.parameters.dance.beforeAwakened.max + card.parameters.dance.masterBonus * card.masterRankMax + card.parameters.visual.beforeAwakened.max + card.parameters.visual.masterBonus * card.masterRankMax }})
            </p>

            {%- if card.centerEffect.id != 0 -%}
            <div>
                <p class="full-width">
                    <span class="badge badge-center">中心效果</span>
                    {{ card.centerEffect.name }}
                </p>
                <p class="full-width">
                    <span class="badge badge-center">中心效果说明</span>
                    {{ card.centerEffect.description }}
                </p>
            </div>
            {%- endif -%}

            {%- if card.skills.length != 0 -%}
            <div>
                <p class="half-width">
                    <span class="badge badge-skill">技能</span>
                    {{ card.skillName }}
                </p>
                <p class="half-width">
                    <span class="badge badge-skill">最大技能等级</span>
                    {{ card.skillLvMax }}
                </p>
                <p class="full-width">
                    <span class="badge badge-skill">技能说明</span>
                    {{ card.skills[0].description.format(card.skills[0].probability) }}
                </p>
            </div>
            {%- endif -%}

            <p class="full-width">
                <span class="badge badge-skill">卡片语音</span>
                {{ card.lines.flavor.beforeAwakened.replace('{$P$}', 'Producer') }}
            </p>
        </div>
    </div>

    <h1>觉醒后</h1>
    <div class="awaken-container">
        <img src="https://storage.matsurihi.me/mltd/card/{{ card.resourceId }}_1_a.png" />
        <div class="param-container">
            <p class="full-width">
                <span class="badge badge-general">稀有度</span>
                {%- if card.rarity == 4 -%}
                SSR+
                {%- elif card.rarity == 3 -%}
                SR+
                {%- elif card.rarity == 2 -%}
                R+
                {%- elif card.rarity == 1 -%}
                N+
                {%- endif -%}
            </p>
            <p class="half-width">
                <span class="badge badge-general">最大等级</span>
                {{ card.parameters.lvMax.afterAwakened }}
            </p>
            <p class="half-width">
                <span class="badge badge-general">最大 Master Rank</span>
                {{ card.masterRankMax }}
            </p>
            <p class="half-width">
                <span class="badge badge-life">最大生命值</span>
                {{ card.parameters.life.afterAwakened }}
            </p>
            <p class="half-width">
                <span class="badge badge-vocal">Vocal</span>
                {{ card.parameters.vocal.afterAwakened.max }}
                ({{ card.parameters.vocal.afterAwakened.max + card.parameters.vocal.masterBonus * card.masterRankMax }})
            </p>
            <p class="half-width">
                <span class="badge badge-dance">Dance</span>
                {{ card.parameters.dance.afterAwakened.max }}
                ({{ card.parameters.dance.afterAwakened.max + card.parameters.dance.masterBonus * card.masterRankMax }})
            </p>
            <p class="half-width">
                <span class="badge badge-visual">Visual</span>
                {{ card.parameters.visual.afterAwakened.max }}
                ({{ card.parameters.visual.afterAwakened.max + card.parameters.visual.masterBonus * card.masterRankMax }})
            </p>
            <p class="full-width">
                <span class="badge badge-appeal">总 Appeal</span>
                {{ card.parameters.vocal.afterAwakened.max + card.parameters.dance.afterAwakened.max + card.parameters.visual.afterAwakened.max }}
                ({{ card.parameters.vocal.afterAwakened.max + card.parameters.vocal.masterBonus * card.masterRankMax + card.parameters.dance.afterAwakened.max + card.parameters.dance.masterBonus * card.masterRankMax + card.parameters.visual.afterAwakened.max + card.parameters.visual.masterBonus * card.masterRankMax }})
            </p>

            {%- if card.centerEffect.id != 0 -%}
            <div>
                <p class="full-width">
                    <span class="badge badge-center">中心效果</span>
                    {{ card.centerEffect.name }}
                </p>
                <p class="full-width">
                    <span class="badge badge-center">中心效果说明</span>
                    {{ card.centerEffect.description }}
                </p>
            </div>
            {%- endif -%}

            {%- if card.skills.length != 0 -%}
            <div>
                <p class="half-width">
                    <span class="badge badge-skill">技能</span>
                    {{ card.skillName }}
                </p>
                <p class="half-width">
                    <span class="badge badge-skill">最大技能等级</span>
                    {{ card.skillLvMax }}
                </p>
                <p class="full-width">
                    <span class="badge badge-skill">技能说明</span>
                    {{ card.skills[0].description.format(card.skills[0].probability) }}
                </p>
            </div>
            {%- endif -%}

            <p class="full-width">
                <span class="badge badge-skill">卡片语音</span>
                {{ card.lines.flavor.afterAwakened.replace('{$P$}', 'Producer') }}
            </p>
        </div>
    </div>

    {%- if card.costumes.default -%}
    <div>
        <h1>服装</h1>
        <div class="costume-container">
            <div class="costume">
                <h2>{{ card.costumes.default.name }}</h2>
                <div class="costume-info">
                    <img src="https://storage.matsurihi.me/mltd/costume_icon_ll/{{ card.costumes.default.resourceId }}.png" />
                    <span>{{ card.costumes.default.description }}</span>
                </div>
            </div>
            {%- if card.costumes.bonus -%}
            <div class="costume">
                <h2>{{ card.costumes.bonus.name }}</h2>
                <div class="costume-info">
                    <img src="https://storage.matsurihi.me/mltd/costume_icon_ll/{{ card.costumes.bonus.resourceId }}.png" />
                    <span>{{ card.costumes.bonus.description }}</span>
                </div>
            </div>
            {%- endif -%}
            {%- if card.costumes.rank5 -%}
            <div class="costume">
                <h2>{{ card.costumes.rank5.name }}</h2>
                <div class="costume-info">
                    <img src="https://storage.matsurihi.me/mltd/costume_icon_ll/{{ card.costumes.rank5.resourceId }}.png" />
                    <span>{{ card.costumes.rank5.description }}</span>
                </div>
            </div>
            {%- endif -%}
        </div>
    </div>
    {%- endif -%}
</div>
</body>
</html>
