<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        body {
            position: relative;
            margin: 0;
            width: 1920px;
            height: 1080px;
            background-color: rgb(217, 225, 235);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #gasha_app {
            position: relative;
            top: -5%;
            height: 60%;
            width: 70%;
            border-radius: 20px;
            background-color: rgba(255, 255, 255, 0.60);
            box-sizing: border-box;
            padding: 3.5%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: flex-start;
            overflow: hidden;
        }

        .gasha-title-label {
            position: absolute;
            left: 3%;
            top: 0;
            width: 33%;
            height: 5%;
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0.75), transparent);
            border-bottom-left-radius: 45px;
            color: white;
            font-size: 2.3em;
            padding-left: 3%;
            display: flex;
            align-items: center;
        }

        .gasha-info-label {
            position: absolute;
            left: 3%;
            top: 5.5%;
            color: black;
            font-size: 1.8em;
            padding-left: 3%;
        }

        .icon {
            position: relative;
            margin: 0 2% 4% 0;
            width: 18%;
        }

        .icon>img:first-child {
            width: 100%;
        }

        .icon-overlay {
            position: absolute;
            background-repeat: no-repeat;
        }

        .rarity-border {
            width: 100%;
            left: 0;
            top: 0;
        }

        .group-icon {
            width: 30%;
            left: 0;
            bottom: 0;
        }

        .next-button {
            position: absolute;
            top: 81%;
            left: 67%;
            width: 13%;
            height: 6%;
            background-image: linear-gradient(to right, rgb(255, 124, 159), rgb(255, 63, 70));
            border: 2px solid black;
            border-radius: 1000px;
            box-shadow: 0 0 10px 0 black;
            font-size: 2.5em;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: sans-serif;
            color: white;
        }
    </style>
</head>
<body>
<!--gasha title-->
<div class="gasha-title-label">
    ガシャ結果
</div>
<div class="gasha-info-label">
    カードを獲得しました
</div>

<!--cards-->
<div id="gasha_app">
{%- for card in cards -%}
    <div class="icon">
        <img src="https://storage.matsurihi.me/mltd/icon_l/{{ card.resourceId }}_0.png" />
        <!--rarity border-->
        {%- if card.rarity == 2 -%}
        <img class="icon-overlay rarity-border" src="https://mltd.matsurihi.me/image/card_icon/icon_mark_L_frm_R.png" />
        {%- elif card.rarity == 3 -%}
        <img class="icon-overlay rarity-border" src="https://mltd.matsurihi.me/image/card_icon/icon_mark_L_frm_SR.png" />
        {%- elif card.rarity == 4 -%}
        <img class="icon-overlay rarity-border" src="https://mltd.matsurihi.me/image/card_icon/icon_mark_L_frm_SSR.png" />
        {%- endif -%}
        <!--group icon-->
        {%- if card.idolType == 1 -%}
        <img class="icon-overlay group-icon" src="https://mltd.matsurihi.me/image/card_icon/icon_mark_L_grp_000.png" />
        {%- elif card.idolType == 2 -%}
        <img class="icon-overlay group-icon" src="https://mltd.matsurihi.me/image/card_icon/icon_mark_L_grp_001.png" />
        {%- elif card.idolType == 3 -%}
        <img class="icon-overlay group-icon" src="https://mltd.matsurihi.me/image/card_icon/icon_mark_L_grp_002.png" />
        {%- elif card.idolType == 5 -%}
        <img class="icon-overlay group-icon" src="https://mltd.matsurihi.me/image/card_icon/icon_mark_L_grp_004.png" />
        {%- endif -%}
    </div>
{%- endfor -%}
</div>

<!--next button-->
<div class="next-button">
    OK
</div>
</body>
</html>
