<html>
<head>
    <meta charset="UTF-8">
    <link href="main.css" rel="stylesheet">
</head>
<body>
<div id="main">
    <div class="main-border"></div>
    <img class="logo" src="../../arknights/logo.png"/>
    <div class="fortune-container">
        <div class="fortune-inner-box">
            <div class="title-container">
                {{ title }}
            </div>
            <div class="fortune-label">
                運&emsp;勢
            </div>
            <div class="content-container">
                {{ content }}
            </div>
        </div>
    </div>
    <img class="character" src="https://raw.githubusercontent.com/yuanyan3060/ArknightsGameResource/main/skin/{{ resource_key }}_1b.png" />
</div>
</body>
</html>
