
@font-face {
    font-family: 'Mamelon';
    src: url('../font/Mamelon.otf');
}
@font-face {
    font-family: 'sakura';
    src: url('../font/sakura.ttf');
}

body {
    --size: 480px;
    margin: 0;
    padding: 0;
    width: var(--size);
    height: var(--size);
}

#main {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(204, 204, 204);
    box-sizing: border-box;
    overflow: hidden;
}

.background-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.main-border {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: solid 1rem rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    z-index: 2;
}

.logo {
    --logo-width: 18%;
    position: absolute;
    top: 0;
    left: calc((100% - var(--logo-width)) / 2);
    width: var(--logo-width);
    z-index: 3;
}

.fortune-container {
    --container-color: rgb(58, 58, 58);
    position: absolute;
    left: 9%;
    top: 12%;
    width: 40%;
    height: 82%;
    border: solid 0.3rem var(--container-color);
    box-sizing: border-box;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.fortune-inner-box {
    --fortune-inner-box-margin: 0.5rem;
    width: calc(100% - var(--fortune-inner-box-margin));
    height: calc(100% - var(--fortune-inner-box-margin));
    border: solid 0.2rem var(--container-color);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}

.title-container {
    width: 100%;
    height: 15%;
    font-family: 'Mamelon', serif;
    font-size: calc(0.095 * var(--size));
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--container-color);
    color: #F5F5F5;
}

.fortune-label {
    font-family: 'sakura', sans-serif;
    font-size: calc(0.04 * var(--size));
    text-align: center;
    border-bottom: solid black 0.15rem;
    width: 85%;
}

.content-container {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    height: 100%;
    width: 100%;
    color: #323232;
    font-family: 'sakura', sans-serif;
    font-size: calc(0.05 * var(--size));
    writing-mode: vertical-rl;
}

.character {
    position: absolute;
    left: 20%;
    top: 5%;
    width: 100%;
    z-index: 1;
}
