<html>

<head>
    <style>
        table {
            position: relative;
            border-collapse: collapse;
            /* cell color */
            --cell-fixed-color: lightgray;
            --cell-empty-color: white;
            /* cell size */
            --cell-size: 50px;
            /* cell border */
            --cell-border: 1px solid black;
            --cell-border-thick: 3px solid black;
            /* font size */
            --font-size: 20px;
        }

        td {
            border: var(--cell-border);
            width: var(--cell-size);
            height: var(--cell-size);
            text-align: center;
            font-size: var(--font-size);
        }

        td:nth-child(3n) {
            border-right: var(--cell-border-thick);
        }

        td:nth-child(3n+1) {
            border-left: var(--cell-border-thick);
        }

        tr:nth-child(3n) td {
            border-bottom: var(--cell-border-thick);
        }

        tr:nth-child(3n+1) td {
            border-top: var(--cell-border-thick);
        }
    </style>
</head>

<body>
    <table id="board">
        <tbody>
        {%- for row in board -%}
            <tr>
            {%- for cell in row -%}
            {%- if cell == 0 -%}
                <td></td>
            {%- else -%}
                <td>{{ cell }}</td>
            {%- endif -%}
            {%- endfor -%}
            </tr>
        {%- endfor -%}
        </tbody>
    </table>
    <span>
        seed: <span id="seed">{{ seed }}</span>
    </span>
</body>

</html>